/* CSS Document */
*{
	margin:0px;
	padding:0px
}

body{
	background-color:#E4E8EC;
	align:center
}

div{
	
	text-align:center;
	
	
}

.container{
	width: 500px;
	height: 300px;
	margin: 150px auto;
	overflow: hidden;
	font-size: 18px;
	font-weight: bold;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 0 #fff, 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 0 #fff, 0 7px 0 rgba(0, 0, 0, 0.2);
	
	
	background-color: #FFF;
	border-radius: 4px;
	background: -webkit-gradient(linear, left top, left 24, from(#EEE), color-stop(4%, #FFF), to(#EEE));
	background: -moz-linear-gradient(top, #EEE, #FFF 1px, #EEE 24px);
	background: -o-linear-gradient(top, #EEEEEE, #FFFFFF 1px, #EEEEEE 24px);
	
}


.title{
	width:500px;
	height:30px;
	
	text-shadow: 0 1px 0 rgba(255, 255, 255, .7), 0px 2px 0 rgba(0, 0, 0, .5); 
    text-transform:uppercase; 
    text-align:center; 
    color:#666; 
    line-height:3em; 
    margin:16px 0 20px 0; 
    letter-spacing: 4px; 
    font:normal 26px/1 Microsoft YaHei, sans-serif; 
}

.login{
	font-size: 16px;
	color:#333
}

#submit,#reset{
	padding:5px 25px 6px;
}


